
@font-face {
    font-family: 'bebas_kairegular';
    src: url('bebaskai-regular-webfont.woff2') format('woff2'),
         url('bebaskai-regular-webfont.woff') format('woff'),
         url('bebaskai-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'Precursive_1_FREE';
    src: url('../fonts/Precursive_1_FREE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}