/*Bordures */
#border{
    background-color: #333333;
    height: 1195px;
}
/*Barres de navigation */ 
#navbar_lg{
    background-color: #36363e;
    min-height: 100%;
    margin-top: -3px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 1198px;
}
#navbar_xs{
    background-color: #36363e;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.navbar-collapse{
    background-color: #36363e;
    margin-right: 0px;
}

a{
    text-align: center;
    font-family: 'BEBAS', sans-serif;
    font-weight: bold;
}
.current_page_color{
    color: white;
}
/*style pour verifications formulaire */

.erreur-message{
    display: none;
    color: #ff5b5b;
}

/*Contenu de la page */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-fluid{
    padding: 0;
}
#contenu{
    border-top-color: #2980b9;
    border-top-width: 10px;
    border-top-style: solid;
}
img.logo{
    margin-left: 20px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 20px;
    border: 4px solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.05);
}
.navbar-brand{
    margin-bottom: 40px;
    font-size: 200%;
}
#identity{
    font-size: 300%;
    font-family: 'BEBAS', sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
}
#adresse, #mail{
    font-family: 'Precursive_1_FREE', sans-serif;
    font-size: 200%;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}
#telephone{
    width: 50%;
}
li, label{
    text-align: center;
}
label{
    font-size: 120%;  
}
legend{
    font-size: 140%;
}
/*Media queries */
@media (max-width: 992px){
    img.logo{
      margin-left: 30px;
      margin-right: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: auto;
      height: auto;
      float: left;
    }
    .navbar-brand{
      margin-top: 20px;
      margin-left: auto; 
    }
    .navbar-nav{
        text-align: center;
        margin-left: 100px;
        margin-top: 20px;
    }
    li{
        padding-right: 20px;
    }
}
@media (max-width: 768px){
    img.logo{
        margin-left: 0px;
    }
    .navbar-header{
        padding-left: 20px;
    }
    .navbar-brand{
     margin-top: 20px;
     margin-left: auto;
    }
    .navbar-nav{
        margin-left: 0px;
    }
    .navbar-collapse{
        padding-left: -20px;
    }
    #mail{
        font-size: 100%;
    }
    label{
    font-size: 80%;
    
}
}

/* Couleurs a utiliser
#36363e gris plus clair pour le menu
#cdcdeb gris clair pour eclaicir les titres
#333333 gris foncé pour les bords
*/